body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #4d4d4d;
    color: lightsteelblue;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#daybutton {
    float: right;
    background-color: white;
    border: solid 1px black;
    color: black;
}
#daybutton:hover {
    cursor:pointer
}

#nightbutton {
    float: right;
    background-color: #4d4d4d;
    border: solid 1px black;
    color: lightsteelblue;
}
#nightbutton:hover {
    cursor:pointer
}

a {text-decoration: none;
    color: lightsteelblue;}

h1 {font-size: 48px;
    text-align: left;
    padding-top: 15px;}

h2 {font-size: 24px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: solid 2px black;}

p {font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: left;}

.navigation {box-shadow: 7.5px 7.5px 7.5px black;
    border: solid 2px black;}
.navigation ul {list-style: none;
    margin: 0;
    padding: 5px 5px;
    background-color: #333333;}
.navigation ul li {display: inline-block;
    border: solid 2px black;}
.navigation ul li a {display: block;
    color: lightsteelblue;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px}
.navigation li a:hover {background-color: #595959;}

section {margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333333;
    box-shadow: 7.5px 7.5px 7.5px black;
    border: solid 2px black;}

article {border: solid 2px black;
    background-color: #595959;
    box-shadow: 5px 5px 5px black;}

footer p {
    padding-top: 5px;
    text-align: center;
}


#apiplaceholder {
    height: 175px;
    width: 330px;
    background-color: white;
    color: black;
    text-align:center;
}

img {
    max-height: 175px;
    max-width: 330px;
    margin-bottom: 15px;
}

#img1 {
    height: 400px;
    width: 200px;
}

#img2 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

iframe {
    margin-bottom: 15px;
}

#twittertext {
    text-align:center;
}